.button {
    font: inherit;
    color: white;
    padding: 0.25rem 1rem;
    border: 1px solid black;
    border-radius: 0.25rem;
    background-color: blueviolet;
    cursor: pointer;
}

.button:hover {
    background-color: #8d48ce;
}